.search__icon {
  top: 50%;
  transform: translateY(-50%);
}

.active__navlink {
  color: #3521b5 !important;
}

/* #top_dropdown {
  display: none;
}

.parent__dropdown:focus-visible ~ #top_dropdown {
  display: block;
} */
